.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 0 4px;
}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    top: 5%; /* Adjust this value to move the positioned div up and down */
    left:85%;
    background: rgba(0, 0, 0, 1);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 30px; /* Set the width of the positioned div */
    height: 30px;
}

.gallery-check{
    margin-top: 23%;
}

.disable-link {
    pointer-events: none;
    border: 1px solid #999999;
    background-color: #9a3939;
    color: #666666;
}