.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* added css */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.album-container{
  margin: 10% 10% 10% 10%;
  border: solid;
}

.box{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  top: 5%; /* Adjust this value to move the positioned div up and down */
  left:85%;
  background: rgba(0, 0, 0, 1);
  font-family: Arial,sans-serif;
  color: #fff;
  width: 30px; /* Set the width of the positioned div */
  height: 30px;
}

.gallery-check{
  margin-top: 23%;
}


.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  /*background-image: url("images/open.png");*/

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.prev{
  margin-right: 80px!important;
}

.disable-link {
  pointer-events: none;
  border: 1px solid #999999;
  background-color: #9a3939;
  color: #666666;
}

.message-bar{
  width: auto;
  height: auto;
  background-color: #e2dad7;
  /* border-radius: 50%; */
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  /* background-image: url(images/open.png); */
  font-size: 24px;
  color: #ecb436;
  text-align: center;
  line-height: 51px;
  position: fixed;
  opacity: 0.8;
  right: 15%;
  bottom: 17%
}
